In [19]:
#python basics for dhara
import random

In [18]:
a=5
b=6
c="Kuku"
print("kuku","\n",b)

# when you will write a srting you have to use "" or ''  otherwise it will give error

kuku
 6

In [ ]:
#100 values of a and 100 values of n, and then you have to sum them up and print the result.

cat

In [29]:
list_a=[]
list_b=[]   
for i in range(1,101):
    list_a.append(random.randint(1,1000))
    list_b.append(random.randint(1,1000))

In [30]:
print(list_a)
print(list_b)

[565, 254, 626, 701, 663, 455, 883, 99, 1000, 109, 149, 215, 543, 986, 644, 437, 625, 813, 807, 209, 682, 620, 390, 732, 788, 523, 98, 697, 195, 644, 591, 83, 981, 233, 873, 573, 495, 988, 784, 396, 963, 393, 533, 178, 367, 481, 532, 454, 789, 980, 197, 577, 537, 906, 867, 843, 262, 301, 896, 672, 39, 772, 165, 502, 204, 972, 838, 179, 353, 25, 478, 833, 216, 482, 845, 831, 383, 671, 182, 335, 119, 459, 237, 882, 947, 441, 579, 96, 418, 222, 847, 125, 822, 816, 736, 129, 550, 990, 782, 699]
[489, 220, 707, 384, 538, 650, 425, 499, 550, 297, 63, 306, 872, 157, 83, 522, 151, 933, 396, 790, 716, 369, 327, 589, 563, 753, 650, 613, 183, 661, 62, 378, 178, 858, 490, 570, 765, 601, 965, 172, 800, 589, 438, 729, 65, 332, 319, 151, 116, 854, 726, 791, 442, 243, 996, 258, 544, 601, 981, 615, 438, 255, 47, 217, 440, 314, 74, 815, 308, 540, 888, 931, 203, 702, 840, 293, 523, 511, 928, 127, 992, 420, 131, 213, 255, 291, 989, 406, 402, 104, 234, 49, 533, 66, 461, 492, 982, 125, 182, 90]

In [ ]:
for i in range(1,101):

[565, 254, 626, 701, 663, 455, 883, 99, 1000, 109, 149, 215, 543, 986, 644, 437, 625, 813, 807, 209, 682, 620, 390, 732, 788, 523, 98, 697, 195, 644, 591, 83, 981, 233, 873, 573, 495, 988, 784, 396, 963, 393, 533, 178, 367, 481, 532, 454, 789, 980, 197, 577, 537, 906, 867, 843, 262, 301, 896, 672, 39, 772, 165, 502, 204, 972, 838, 179, 353, 25, 478, 833, 216, 482, 845, 831, 383, 671, 182, 335, 119, 459, 237, 882, 947, 441, 579, 96, 418, 222, 847, 125, 822, 816, 736, 129, 550, 990, 782, 699, 489, 220, 707, 384, 538, 650, 425, 499, 550, 297, 63, 306, 872, 157, 83, 522, 151, 933, 396, 790, 716, 369, 327, 589, 563, 753, 650, 613, 183, 661, 62, 378, 178, 858, 490, 570, 765, 601, 965, 172, 800, 589, 438, 729, 65, 332, 319, 151, 116, 854, 726, 791, 442, 243, 996, 258, 544, 601, 981, 615, 438, 255, 47, 217, 440, 314, 74, 815, 308, 540, 888, 931, 203, 702, 840, 293, 523, 511, 928, 127, 992, 420, 131, 213, 255, 291, 989, 406, 402, 104, 234, 49, 533, 66, 461, 492, 982, 125, 182, 90]

In [39]:
print(list_a[0] + list_b[0])

1054

In [40]:
print(list_a[1] + list_b[1])

474

In [45]:
for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [ ]:
print(len(list_a))

100

In [50]:
def even_number_dundo(list_a):
    for kuku in range(len(list_a)):
        if (list_a[kuku]%2==0):
            print(list_a[kuku])

In [51]:
even_number_dundo(list_a)

254
626
1000
986
644
682
620
390
732
788
98
644
988
784
396
178
532
454
980
906
262
896
672
772
502
204
972
838
478
216
482
182
882
96
418
222
822
816
736
550
990
782